@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* For Firefox */
    scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
html::-webkit-scrollbar {
    width: 4px;
}

html::-webkit-scrollbar-thumb {
    /* Roundness of the thumb */
    border-radius: 2px;
}

body {
    margin: 0;
}

button.MuiButton-containedPrimary {
    background-color: #1976d2;
}

:root {
    --sidebar-width: 7rem;
}

* {
    box-sizing: border-box;
}

.wrapper {
    margin-left: 5rem;
    margin-right: 5rem;
}

.wrapper-padding {
    padding-left: 5rem;
    padding-right: 5rem;
}

/* For WebKit browsers (Chrome, Safari) */
.scrollbar-always-visible::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px; /* Adjust width of the scrollbar */
}

.scrollbar-always-visible::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the color of the scrollbar thumb */
  border-radius: 10px; /* Optional: rounded scrollbar */
}

