@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}


*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
    /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    /* Track color */
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    /* Thumb color */
    border-radius: 6px;
    /* Rounded edges */
    border: 3px solid rgba(0, 0, 0, 0.1);
    /* To add space around the thumb */
}


html {
    /* For Firefox */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

body {
    margin: 0;
}

button.MuiButton-containedPrimary {
    background-color: #1A1A1A;
}

:root {
    --sidebar-width: 7rem;
}

* {
    box-sizing: border-box;
}

.wrapper {
    margin-left: 5rem;
    margin-right: 5rem;
}

.wrapper-padding {
    padding-left: 5rem;
    padding-right: 5rem;
}

.slide-in-animation {
    animation: slide-in-left 500ms ease-out;
}

.fade-in-animation {
    animation: fade-in 500ms ease-out;
}

.slick-slide {
    display: flex !important;
    justify-content: center;
}