@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

button.MuiButton-containedPrimary {
  background-color: #1976d2;
}

:root {
    --sidebar-width: 7rem;
}

* {
    box-sizing: border-box;
}
